
.car-news-slide{position:relative;z-index:9}.swiper-container{position:relative;overflow:hidden;height:200px;z-index:1}.swiper-wrapper{position:relative;width:100%;height:200px;overflow:hidden}.swiper-slide{float:left;width:100%;height:200px;overflow:hidden}.news-wrap{position:relative;overflow:hidden;z-index:999;height:auto}.news-wrap ul{position:relative;overflow:hidden;height:100%}.news-wrap li{position:absolute;height:100%;top:0;left:0;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center}.news-wrap li a{height:100%}.news-wrap li a,.news-wrap img{display:block;width:100%}.islider-dot-wrap{position:relative;top:-20px;left:0;width:100%;height:10px;text-align:center;font-size:0;z-index:9999}.islider-dot-wrap li{display:inline-block;margin:0 7px;width:10px;height:10px;background:rgba(225,225,225,.4);border-radius:100%}.islider-dot-wrap li.active{background:#dd1338}

.hot-sale,.level-nav{height:30px;clear:both;margin:20px 3% 10px;background:url(../img/home/jhg.png) no-repeat;background-size:100% 100%;}.hot-sale .hot-sale-lit,.level-nav .hot-sale-lit,.hot-sale .dingzhi,.level-nav .dingzhi{font-size:14px;font-weight:700}.hot-sale .hot-sale-lit,.level-nav .hot-sale-lit{color:#ed3f36}.hot-sale .dingzhi,.level-nav .dingzhi{color:#0072c1}.ding-img img,.gg img{width:100%}.ding-img .cad-ding{padding-bottom:10px;display:block;padding-left:10px;padding-right:10px;}

.leftnav{width:100%;height:0px;color:#333;font-size:14px;background:#fff;position:relative;overflow:hidden}.leftnav .all-url{position:absolute;width:50px;height:40px;text-align:right;line-height:40px;right:3%;z-index:11}.leftnav ul{position:absolute;z-index:10;left:0;top:0;height:40px;width:100%;line-height:40px;padding-left:3%;background:#fff;box-shadow:0 1px 3px rgba(0,0,0,.25)}.leftnav ul li{padding:0 15px;height:100%;cursor:pointer}.leftnav ul .hover,.leftnav ul .selected{color:#df4036;background:url(../img/home/red-nav.png) no-repeat left center;background-size:10px auto}.leftnav .fixed{position:fixed;height:40px;}.dis-list{padding:15px 0;height:40px;border-bottom:#ebebeb dotted 1px}.dis-list li{background:#fdedde;width:114px;height:40px;line-height:40px;font-size:14px;font-weight:700;color:#e83428;text-align:center;margin-right:8px;cursor:pointer;float:left}.dis-list li.bad-dis{background:#e3e3e3;color:#6b6b6b}

body{background:#f5f5f5;}
.two_nav{height:60px;width:100%;box-sizing:border-box;box-shadow:0 0 10px #e6e6e6;background:white;}
.two_nav li{width:50%;text-align:center;float:left;font-size:1.7rem;box-sizing:border-box;height:100%;}
.two_nav .two{border-left:1px solid #e6e6e6;}
.two_nav i{width:40px;height:40px;display:inline-block;background:url(../img/home/hot.png);background-size:100%;float:left;margin-top:8px;margin-left:20%;}
.two_nav .two i{background:url(../img/home/juhuigou.png);background-size:100%;}
.two_nav span{float:left;line-height:60px;margin-left:2px;}

.hot-sale,.level-nav a{line-height:30px;margin-right:10px;background-size:100% 100%;}
#level-nav-recomcar{background:url(../img/home/ymtj.png) no-repeat;background-size:100% 100%;}
#level-nav-suvcar{background:url(../img/home/suv.png) no-repeat;background-size:100% 100%;}
#level-nav-jiaochecar{background:url(../img/home/jyjc.png) no-repeat;background-size:100% 100%;}
#level-nav-hotcar{background:url(../img/home/dprx.png) no-repeat;background-size:100% 100%;}
#level-nav-dingcar{background:url(../img/home/dzc.png) no-repeat;background-size:100% 100%;margin-top:12px;}

.pro-list.del .mall-car-pic{height:auto;width:100%;margin:0;}
.pro-list.del .mall-car-pic img{width:100%;height:auto;}
.pro-list.del .gooditem .mall-car-info .car-lit{padding:8px;}
.pro-list.del .gooditem .mall-car-info .car-lit h3{margin-top:3px;font-size:1.7rem;line-height:24px;font-weight:bold;height: 24px;overflow: hidden;}
.pro-list.del .gooditem .mall-car-info .car-lit .detail{height:40px;overflow:hidden;line-height:20px;font-size:12px;margin:5px 0;}
.pro-list.del .gooditem .mall-car-info .car-lit p{margin-bottom:0;font-size:12px;line-height:26px;}
.tuan-btn{width:90%;height:30px;border:1px solid red;border-radius:5px;text-align:center;line-height:30px;color:red;margin:10px auto;}
.pro-list.del .gooditem .mall-car-info .car-price-box{padding-left:0;}
.tuan-btn:active{background:red;color:white;}
.tuan-btn{font-size:1.5rem;}
.pro-list.del .gooditem  p span{color:#666;}
.pro-list.del .gooditem  p em{width:14px;height:14px;margin-right:3px;margin-top:5px;}
.pro-list.del .gooditem  p.tuan-date em{background:url(../img/home/t1.png) no-repeat;background-size:100%;}
.pro-list.del .gooditem  p.tuan-num em{background:url(../img/home/user.png) no-repeat;background-size:100%;}

.ershouche{padding:0 10px; cursor:pointer;}
.ershouche img{width:100%;height:auto;}

.sub-wish-wrap {
    width: 100%;
    height: 129px;
    border-top: #dfdfdf dotted 1px;
    border-bottom: #dedede solid 1px;
}
.sub-wish-wrap .sub-wish-box {
    background: url(http://s.emao.net/tmall/build/m/static/gmobile/widget/wish/img/wish-bg_17aded6.jpg) no-repeat -84px bottom #fff;
    height: 129px;
    background-size: auto 129px;
    position: relative;
}
.sub-wish-wrap .sub-wish-box .wish-con {
    text-align: center;
    font-size: 10px;
    padding-top: 25px;
}
.sub-wish-box .wish-con i.lf, .sub-wish-box .wish-con i.rt, .sub-wish-box b {
    background: url(http://s.emao.net/tmall/build/m/static/gmobile/widget/wish/img/wish_d5fed25.png) no-repeat;
}
.sub-wish-wrap .sub-wish-box .wish-con i.lf, .sub-wish-wrap .sub-wish-box .wish-con i.rt {
    width: 12px;
    height: 10px;
    display: inline-block;
    background-size: 142px auto;
}
.sub-wish-wrap .sub-wish-box .wish-con i.lf {
    margin: 0 4px 0 0;
}
.sub-wish-wrap .sub-wish-box .wish-con i.rt {
    background-position: -12px 0;
    background-size: 142px auto;
    margin: 0 0 0 4px;
}
.sub-wish-wrap .sub-wish-box .wish-submit {
    position: relative;
    z-index: 4;
    display: block;
    margin-top: 25px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #dd1136;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.sub-wish-wrap .sub-wish-box b {
    position: absolute;
    right: 8px;
    bottom: -12px;
    width: 87px;
    height: 83px;
    background-size: 180px auto;
    background-position: 0 -9px;
}
.pro-list{width: 100%;overflow: hidden;}



