.list-box {
    margin: 12px 3% 0
}

.list-tab {
    font-size: 1.5rem;
    color: #666;
    border-left: #e5e5e5 solid 1px
}

.list-tab li {
    border: #e5e5e5 solid 1px;
    border-left: 0;
    padding: 12px 0;
    width: 0;
    text-align: center;
    background: #fff
}

.list-tab li i {
    background: url(http://s.emao.net/tmall/build/m/static/gmobile/widget/page/homeList/img/icon_jiao_54acead.png) no-repeat;
    background-size: 8px auto;
    width: 13px;
    height: 7px;
    display: inline-block;
    margin: 0 0 0 8px
}

.priceSort-1 .list-icon, .priceSort-2 .list-icon {
    color: #ed3f36
}

.priceSort-1 .list-icon i, .priceSort-2 .list-icon i {
    background: url(http://s.emao.net/tmall/build/m/static/gmobile/widget/page/homeList/img/icon_jiao_54acead.png) no-repeat;
    background-size: 8px auto;
    width: 13px;
    height: 7px;
    display: inline-block;
    margin: 0 0 0 8px
}

.priceSort-1 .list-icon i {
    background-position: 0 -50px
}

.priceSort-2 .list-icon i {
    background-position: 0 -25px
}

.down-load {
    margin: 0 3%;
    line-height: 70px;
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

.load-img {
    margin: 0 3%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    display: none
}

.noMore {
    height: 30px;
    line-height: 30px;
}

.filter-sidebar {
    font-size: 1.4rem;
    color: #999
}

.filter-tit {
    padding: 10px 0 0;
    border-bottom: 1px solid #9d9d9d
}

.filter-tit li {
    text-align: center;
    line-height: 50px;
    height: 50px;
    vertical-align: text-bottom
}

.filter-tit .tit {
    font-size: 17px;
    color: #fff;
    line-height: 47px
}

.fh-val {
    text-align: right;
    padding-right: 15px;
    background: url(http://s.emao.net/tmall/build/m/static/gmobile/lib/img/public/toright_7f64b50.png) no-repeat right center;
    background-size: 10px auto;
    margin-right: 20px;
    font-size: 1.2rem
}

.fh-val span {
    color: #ed3f36
}

.side-list ul {
    display: block
}

.side-list .li-clearbtn {
    border: 0;
    padding: 0;
    margin-top: 20px
}

.side-list .li-clearbtn .clearbtn {
    display: inline-block;
    line-height: 34px;
    padding: 0 10px;
    border: 1px solid #333;
    color: #666;
    border-radius: 3px;
    margin: 0 auto
}
.filterUl-item .selected span {
     color: #f00;
 }
.filterUl-item .selected div.fh-key {
    color: #f00;
}