html{font-size: 12px;color: #6b6b6b}
body,body *{font-family:"\5FAE\8F6F\96C5\9ED1";}
body{min-width:990px;height:auto;}
blockquote,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;border:0;outline:0;background:none;font-family:"\5FAE\8F6F\96C5\9ED1";}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}
/*a:hover{text-decoration:none;color:#1f4f88}
*/
a:focus{outline:0;text-decoration:none}
.left {float: left}
*{box-sizing: border-box;}
body{width:100%;min-width: 320px;color: #585858;margin: 0;
    padding: 0;}
img{width: 100%;margin:0;
    padding: 0;vertical-align:top}
.flow{margin-bottom: 80px}
.car_for_buy{position:fixed;bottom:0px;height:80px;background:#f8c543;width:100%;line-height:80px;text-align:center;}
.car_for_buy a{border-radius:5px;text-decoration:none;-webkit-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;height:45px;display:inline-block;width:20%;vertical-align:middle;line-height:45px;margin:0px 8%;font-size:16px;color:white;background-color:#464343;font-weight: bold;}
.shade_wrap{background:rgba(0,0,0,.7);position:fixed;top:0;left:0;width:100%;height:100%;z-index:10;display: none}
.shade_wrap form{width:85%;margin:auto;}
.shade_wrap form input{margin:0;padding:0;height: 30px;border:1px solid #f9cc62;vertical-align: top}
.buy_title{height: 45px;line-height: 45px;background: #f9cc62;text-align: center;color: white;font-size: 21px;font-style: italic;position: relative;}
.info_edit {background: #f4f4f4;padding:5%;}
.info_edit p{margin:5% 0;}
.info_edit span{color:#090909;height: 30px; line-height: 30px;vertical-align: top;font-size: 1.3rem;}
.name_tips{width:25%;display:inline-block;text-align:justify;letter-spacing:4px;}
.name_input{width:75%;}
.phone_input,.verification_code{width:40%;}
.info_edit .verification{width:35%;display: inline-block;height: 30px; line-height: 30px;color: white;background:#f9cc62;text-align: center;font-size: 1rem;}
.prov{border:1px solid #f9cc62;width:35%;margin-right: 10%;padding:0;margin:0;display: inline-block;height: 30px;}
.city{border:1px solid #f9cc62;width:35%;padding:0;margin:0;display: inline-block;height: 30px;float: right;}
.info_edit .time_countdown{width:35%;display: inline-block;height: 30px; line-height: 30px;color: white;background:gray;text-align: center;font-size: 16px;}
#submit{background:#eeb329;width:35%;margin:auto;color: white;font-size: 16px;display: block;height: 35px;}
/*.customer img{width:auto;}
.customer  li{height: 22px;line-height: 22px;color:white;background:url(../images/dot.png) no-repeat left 2px;padding-left: 25px;margin-bottom: 3%;font-size: 1.2rem;}
.customer {background: #eeb329;margin:8% 0 3% 0;padding:6% 6% 3% 6%;}*/
.submit_success{background:#eeb329;width:35%;margin:auto;color:white;font-size:16px;display:block;height:65px;width:200px;text-align: center;line-height: 65px;font-size: 2rem;margin-top: 50%;z-index: 99;position: relative;display: none}
.close_wrap {text-align:right;}
.close_wrap img{width:auto;}
.already_join{width:80%;margin:auto;margin-top: -80%;z-index: 99;position: relative;display: none}
.content{background:#eeb329;width:35%;margin:auto;color:white;font-size:16px;display:block;height:65px;width:230px;text-align: center;line-height: 65px;font-size: 2rem;}
.buy_title span{position:absolute;right:10px;top:-10px;font-size:1.2rem;}
.topic-main{width: 100%;}
.shade_wrap form input .color-red{color: #ff0000}